/*font*/

@font-face {
    font-family: 'asg';
    src: url('font/asg.ttf');
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;   
    background: white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'asg';
}

h4 {
    font-size: 2em;
/*    font-weight: bold;*/
}

.template {
    display: none;
}

#ajaxLoader {
    background: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: fixed;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    display: none;
    z-index: 10;
}

.header_style {
    position: fixed;
    top:0;
    z-index: 9;
    width: 100%;
    text-align: center;
    height: 60px;
    background: url(../img/logoCover.png) no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 1px #8c8c8c;
}

.header_text_style {
    font-family: 'asg';
    font-weight: 100;
    font-size: 3em;
    padding-top: 10px;
    color: #fff;
}

.header_displacement {
    margin-top: 70px;
}

#input_name {
    margin: 0 auto;
}

.input_name_desc {
    font-size: 0.7em;
}

#footer > div {
    display: inline-block;
    padding: 5px;
}

.footer_style {
    position: fixed;
    bottom:0;
    z-index: 9;
    width: 100%;
    text-align: center;
    height: 50px;
    background: rgba(10,10,10,0.9);
    box-shadow: 0px 1px 5px #888888;
}

.menu_white {
    font-size: 1.6em;
    color: #fff;
}

.icon_credit {
    font-size: 0.6em;
}

.menu_text {
    font-family: 'asg';
    font-weight: 100;
    font-size: 1.3em;
    color: white;
    margin-top: -6px;
}

.menu_icon {
    margin: 0px 20px;
    opacity: 0.3;
}

.menu_active {
    opacity: 1;
}

.scrollable {
    overflow-y: auto;
}

#pages {
    position: absolute;
    width: 100%;
    height: 100%;
    /*left: -50px;*/
    display: inline-block;
}

.page {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.page_content {
    padding: 0px 10px;
    /*overflow: hidden;*/
    height: 400px;
}

#page_news {

}

#page_vote {
    /*background: hsl(45, 100%, 70%);*/
}

#page_about {
    
}

.timeline-header, .summary {
    display: none;
}

#vote_description {
    margin: 100px 20px 10px 20px;
    font-weight: bolder;
    line-height: 30px;
    /*font-family: 'asg';*/
    font-size: 2em;
    text-align: center;
}

#vote_image {
    text-align: center;
}

#vote_selector_container {
    position: absolute;
    bottom: 100px;
    width: 95%;
}

#vote_yes {
    opacity: 0.7;
    float: left;
    margin-left: 40px;
}

#vote_no {
    opacity: 0.7;
    float: right;
    margin-right: 40px;
}

#no_new_event {
    display: none;
}

.vote_selector {
    text-align: center;
}

.vote_icon {
    font-size: 3em;
}

.result > * {
    display: inline-block;
    vertical-align: bottom;
}

.chart_result_desc {
    font-size: 1.3em;
    font-weight: 400;
}

.result {
    margin: 5px 5px;
    border: 1px dashed #6c707a;
}

.icon_viz_yes {
    color: #3bb24a;
}

.icon_viz_no {
    color: #d7141b;
}

.clearfix {
    clear: both;
}